<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="customMapper.CustomUserInfoMapper">
	<select id="checkUser" resultType="Integer">
		select 
			count(user_name)
		from
			user
	    where 
	    	user_name = #{userName} and user_pwd = #{userPwd};
	</select>
	<insert id="insertUser">
		insert into user
		(
		<!-- id, -->
		username,
		pwd,
		tel,
		area,
		church,
		serve_days_pre_forth,
		serve_days_fifth
		)
		values
		(
		<!-- UUID(), -->
		#{username},
		UUID(),
		#{tel},
		#{area},
		#{church},
		#{serve_days_pre_forth},
		#{serve_days_fifth}
		)
	</insert>
	<insert id="insertAddress">
		insert into serviceaddress
		(
		<!-- id, -->
		area,
		church,
		reunion_type
		)
		values
		(
		<!-- UUID(), -->
		#{area},
		#{church},
		#{reunion_type}
		)
	</insert>
	
</mapper>