<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="customMapper.CustomUserInfoMapper">
	<select id="checkUser" resultType="Integer">
		select 
			count(user_name)
		from
			user
	    where 
	    	user_name = #{userName} and user_pwd = #{userPwd};
	</select>
	<insert id="insertUser">
		insert into user
		(
		<!-- id, -->
		username,
		pwd,
		tel,
		area,
		church,
		serve_days_pre_forth,
		serve_days_fifth
		)
		values
		(
		<!-- UUID(), -->
		#{username},
		UUID(),
		#{tel},
		#{area},
		#{church},
		#{serve_days_pre_forth},
		#{serve_days_fifth}
		)
	</insert>
	<insert id="insertAddress">
		insert into serviceaddress
		(
		<!-- id, -->
		area,
		church,
		reunion_type
		)
		values
		(
		<!-- UUID(), -->
		#{area},
		#{church},
		#{reunion_type}
		)
	</insert>
	<select id="getUserListByPage"  parameterType="Map" resultType="Map">
		SELECT
			id
			,username
			,pwd
			,tel
			,area
			,church
			,longitude
			,latitude
			,serve_days_pre_forth * 1 as serve_days_pre_forth
			,serve_days_fifth * 1 as serve_days_fifth			
		FROM
			user 
   		<where>
		 	<if test="area != null and area != ''">
			 	and area like '%${area}%'
		 	</if>
		 	<if test="church != null and church != ''">
			 	and church like '%${church}%'
		 	</if>
		 	<if test="serve_days_pre_forth != null and serve_days_pre_forth != ''">
			 	and serve_days_pre_forth = #{serve_days_pre_forth}
		 	</if>
		 	<if test="serve_days_fifth != null and serve_days_fifth != ''">
			 	and serve_days_fifth like  = #{serve_days_fifth}
		 	</if>
	 	</where>	
	 </select>
	 
 	<select id="getAddrListByPage"  parameterType="Map" resultType="Map">
		SELECT
			id
			,area
			,church
			, case reunion_type WHEN '0' THEN '星期四'
			WHEN '1' THEN '星期六'
			ELSE '星期日'
			END AS reunion_type
		FROM
			serviceaddress 
   		<where>
		 	<if test="area != null and area != ''">
			 	and area like '%${area}%'
		 	</if>
		 	<if test="church != null and church != ''">
			 	and church like '%${church}%'
		 	</if>
	 	</where>	
	 </select>
	 <select id="getAddrByType"  parameterType="Map" resultType="Map">
		SELECT
			id as address_id
			,area
			,church
			,case reunion_type WHEN '0' THEN '星期四'
			WHEN '1' THEN '星期六'
			ELSE '星期日'
			END AS reunion_type
		FROM
			serviceaddress 
	 </select>
 	<insert id="insertAddrDate" parameterType="Map">
		insert into servicearrange
		<trim prefix="(" suffix=")" suffixOverrides=",">
			area,
			church,
			address_id,
			reunion_type,
			reuniondate,
			reuniondateCN,
			weekofdate
		</trim>   
		 <foreach collection="list" item="item" index="index" open="VALUES" close=";" separator=",">
	  		<trim prefix="(" suffix=")" suffixOverrides=",">
		   		#{item.area},
		   		#{item.church},
		   		#{item.address_id},
		   		#{item.reunion_type},
		   		#{item.reunion_date},
		   		#{item.reunion_dateCN},
		   		#{item.weekofdate}
		   </trim>
		</foreach>
	</insert>
	 <select id="getServiceList"  parameterType="Map" resultType="Map">
		SELECT
			a.id,
			a.area,
			a.church,
			<!-- a.user_id, -->
			b.username,
			CONCAT(b.area, '**', b.church) as fromChurch, <!-- 同工所属堂点 -->
			a.reuniondate,
			a.reuniondateCN,
			a.arrangestatus,
			a.address_id,
			a.reunion_type,
			case a.weekofdate 
			WHEN '1' THEN '第一周'
			WHEN '2' THEN '第二周'
			WHEN '3' THEN '第三周'
			WHEN '4' THEN '第四周'
			WHEN '5' THEN '第五周'
			<!-- ELSE '星期日' -->
			END AS weekofdate
		FROM
			servicearrange a
		LEFT JOIN `user` b ON b.id = a.user_id
		<where> 
			<if test="reuniondate != null and reuniondate != ''">
			 	and a.reuniondate = #{reuniondate}
		 	</if>
		 	<if test="area != null and area != ''">
			 	and a.area = #{area}
		 	</if>
		 	<if test="church != null and church != ''">
			 	and a.church = #{church}
		 	</if>
		 	<if test="username != null and username != ''">
			 	and b.username = #{username}
		 	</if>
		 	<if test="arrangestatus != null and arrangestatus != ''">
			 	and a.arrangestatus = #{arrangestatus}
		 	</if>
		 </where> 
	 </select>
	 <select id="getAddrRelDateList"  parameterType="String" resultType="Map">
		SELECT
			id
			,area
			,church
			,user_id
			,reuniondate
			,reuniondateCN
			,arrangestatus
			,weekofdate
			,order_num
		FROM
			servicearrange
		where 1 = 1 
			<!-- 获取前四周需要派工的堂点 -->
			<if test="_parameter != null and _parameter != '' and _parameter.toString() == 'forth'">
			 	and weekofdate != 5 
		 	</if>
		 	<!-- 获取第五周需要派工的堂点 -->
			<if test="_parameter != null and _parameter != '' and _parameter.toString() == 'fifth'">
			 	and weekofdate = 5
		 	</if>
		 	and arrangestatus != 0
		 	ORDER BY 	
		 	area,
			<!-- church, -->
			order_num ASC
	 </select>
	  <select id="getServiceUsers"  parameterType="String" resultType="Map">
		SELECT
			id
			,username
			,tel
			,area
			,church
			,serve_days_pre_forth * 1 as serve_days_pre_forth
			,serve_days_fifth * 1 as serve_days_fifth			
		FROM
			user 
		where 1 = 1
			<if test="_parameter != null and _parameter != '' and _parameter.toString() == 'forth'">
			 	and serve_days_pre_forth != 0
			   <!--  and serve_days_fifth = 0  -->
		 	</if>
		 	<if test="_parameter != null and _parameter != '' and _parameter.toString()  == 'fifth'">
			 	and serve_days_fifth != 0
		 	</if>
		 	ORDER BY id ASC
	 </select>
	 
	 
     <update id="serviceArrange" parameterType="Map">
       <!--  <foreach collection="list" item="item" index="index" open="" close="" separator=";">   
           	update 
           		servicearrange 
           	set
           		user_id = #{item.user_id}
       	 	where id = #{item.id} 
       	 		  
        </foreach>   -->
    </update>
      <update id="serviceArrangeBySingle" parameterType="Map">
      		update 
         		servicearrange 
         	set
         		user_id = #{user_id}
     	 	where id = #{id} 
    </update>
    <!-- 堂点需要派工 -->
    <update id="setArrangeStatusY" parameterType="Map">
  		update 
     		servicearrange 
     	set
     		arrangestatus = 1
     	where id in
     	 <foreach collection="list" index="index" item="item" 
	        separator="," open="(" close=")">
	        #{item.id}
	    </foreach>	
    </update>
    <!-- 堂点不需要派工 -->
    <update id="setArrangeStatusN" parameterType="Map">
  		update 
     		servicearrange 
     	set
     		arrangestatus = 0
     	where id in
     	 <foreach collection="list" index="index" item="item" 
	        separator="," open="(" close=")">
	        #{item.id}
	    </foreach>	
    </update>
    <resultMap id="getServiceByChurch" type="HashMap">
	   <id property="address_id" column="address_id"/>
	  <!--  <result property="address_id" column="address_id"/> -->
	   <result property="church" column="church"/>
	    <result property="reunion_type" column="reunion_type"/>
	    <collection property="arrangeRecs" ofType="Map" javaType="ArrayList">  
            <id property="id" column="id"/>    
            <result property="user_id" column="user_id"/>  
            <result property="user_name" column="user_name"/>  
            <result property="reuniondate" column="reuniondate"/>
            <result property="reuniondateCN" column="reuniondateCN"/>  
            <result property="weekofdate" column="weekofdate"/>    
        </collection>  
	</resultMap>
    <!-- 导出excel所需要的数据 -->
   	 <select id="getAllServiceArrangeList" resultMap="getServiceByChurch">
	SELECT
			a.id,
			a.area,
			a.church,
			IFNULL(a.user_id, '') as user_id,
			IFNULL(b.username, '') as user_name,
			CONCAT(b.area, '**', b.church) as fromChurch, <!-- 同工所属堂点 -->
			a.reuniondate,
			a.reuniondateCN,
			a.arrangestatus,
			a.address_id,
			a.reunion_type,
			case a.weekofdate 
			WHEN '1' THEN '第一周'
			WHEN '2' THEN '第二周'
			WHEN '3' THEN '第三周'
			WHEN '4' THEN '第四周'
			WHEN '5' THEN '第五周'
			<!-- ELSE '星期日' -->
			END AS weekofdate
		FROM
			servicearrange a
		LEFT JOIN `user` b ON b.id = a.user_id
		<!-- GROUP BY a.address_id -->
	 </select>
     <update id="updateAddrDate" parameterType="Map">
        update 
   			servicearrange 
   		set
    		order_num = #{order_num}
     	where id = #{id}
	  </update>
</mapper>